{% extends 'base.html' %}

{% block titulo %}{{ title }}{% endblock %}

{% block contenido %}
<div class="ficha-pagina">
    <div class="ancho-pagina ficha-migas">
        <a href="{{ partido.get_absolute_url }}" class="ficha-volver">← Volver a la ficha</a>
        <span class="ficha-ruta">
            <span>{{ partido.categoria.liga.nombre }}</span>
            <span class="ficha-ruta-sep">/</span>
            <span>{{ partido.categoria.nombre }}</span>
        </span>
    </div>
    <div class="ancho-pagina formulario-pagina">
        {% include 'partidos/_resultado_form.html' %}
    </div>
</div>
{% endblock %}
